html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #b9cce0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  background-color: #1f262e;
}

.header {
  display: grid;
  grid-template-columns: 1fr repeat(3, min-content);
  grid-template-rows: 1fr;
  min-height: 50px;
  height: 50px;
  width: 100%;
  background-color: #33404d;
  border: 1px solid #47596b;
  position: fixed;
}
.header-icon {
  width: 40px;
  aspect-ratio: 1 / 1;
  align-self: center;
  margin-left: 10px;
}

button {
  width: 80px;
  background-color: #33404d;
  border: 1px solid #1f262e;
  color: #b9cce0;
  box-shadow: inset 0px 0px 8px 0px #47596b, 0px -3px 6px 0px #47596b;
  margin-left: -1px;
}
button:hover {
  border: 1px solid #47596b;
}
button:active {
  transform: scale(1.1);
}

#content {
  background-color: #33404d;
  border-radius: 10px;
  width: min(500px, 80%);
  padding-bottom: 30px;
  gap: 20px;
  border: 1px solid #47596b;
  margin-top: 80px;
}

#content div {
  border: 2px solid #52667a;
  font-size: 18px;
  text-align: center;
  background-color: #394d60;
  width: 80%;
}

ul {
  all: unset;
  list-style-type: none;
}

/* home styles */
.home-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr), 2fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.home-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 10px;
}

.section-one-image {
  border: 2px solid #668099;
  border-radius: 50%;
  height: 50%;
}

.sectionOneTitle {
  margin-top: 0;
}

/* menu styles */
.menu-content,
.contact-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  justify-items: center;
  padding: 10px;
}

.menu-content div,
.contact-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 5px dotted orange;
  border-radius: 10px;
  padding: 10px;
  gap: 5px;
}

.menu-content h2,
.contact-content h2 {
  border-bottom: 2px solid #668099;
  margin-bottom: 10px;
}

.menu-content img,
.contact-content img {
  border: 2px solid #668099;
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1 / 1;
}
